<deployConfiguration>

  <!-- <add key="SpDbDatabase" value="v1.6_perftest_sp1" />-->
  <add key="SpDbDatabase" value="REMInformation_SP_150316" />
  <!--<add key="SpDbDatabase" value="REMInformation_IR_v1.8.0.0_sp1" />-->
  <add key="SpDbServerIP" value="10.177.0.27" />
  <!--<add key="SpDbServerIP" value="10.161.169.159" />-->
  <add key="SpDbUser" value="cnrem" />
  <add key="SpDbPassword" value="P@ssw0rd" />
  <add key="SpDbMaxPoolSize" value="1000" />

  <!--Begin of proxy for OTS accessing-->
  <add key="ProxyHost" value="10.177.4.199" />
  <add key="ProxyPort" value="80" />

  <add key="ProxyUserName" value="" />
  <add key="ProxyPassword" value="" />

  <!--End of proxy for OTS accessing-->

  <add key="DemoTemplate" value="UserA"/>
  <add key="PlatformDomain" value="platform"/>
 
  <!--The server id for logging-->
  <add key="ServerId" value="1" />

  <add key="StaticBucketName" value="sestatic" />
  <!--Begin DataService Config-->
  <!--Begin DataService Config-->
  <!--<add key="DataServiceHost"     value="http://112.124.39.40/v1.9.0.36/hardcore/"/>-->
  <add key="DataServiceHost"     value="http://localhost/Pop/Web/api/"/>
  <add key="DataServiceBucketName" value="sejazzmock" />
  <!--End of DataService Config-->

</deployConfiguration>
