<bindings>
  <basicHttpBinding>
    <binding name="DefaultHttp" closeTimeout="00:10:00" openTimeout="00:10:00"
      receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
      <security mode="None" />
    </binding>
  </basicHttpBinding>
  <netNamedPipeBinding>
    <binding name="DefaultNamedPipe" closeTimeout="00:10:00" openTimeout="00:10:00"
      receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
      <security mode="None" />
    </binding>
  </netNamedPipeBinding>
  <netTcpBinding>
    <binding name="DefaultTcp" closeTimeout="00:10:00" openTimeout="00:10:00"
      receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647"
      portSharingEnabled="false">
      <security mode="None" />
    </binding>
  </netTcpBinding>
  <webHttpBinding>
    <binding name="DefaultWebHttpBinding" closeTimeout="00:10:00"
      openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
      maxReceivedMessageSize="2147483647">
      <security mode="None" />
    </binding>
  </webHttpBinding>
</bindings>