<client>
  <endpoint name="IAccessControlService.EndPoint" address="http://localhost/foundation/API/AccessControl.svc" binding ="basicHttpBinding" bindingConfiguration ="DefaultHttp"  contract ="SE.DSP.Foundation.API.IAccessControlService"/>
  <endpoint name="ICommodityService.EndPoint" address="http://localhost/foundation/API/Commodity.svc" binding ="basicHttpBinding" bindingConfiguration ="DefaultHttp"  contract ="SE.DSP.Foundation.API.ICommodityService"/>
  <endpoint name="IIndustryService.EndPoint" address="http://localhost/foundation/API/Industry.svc" binding ="basicHttpBinding" bindingConfiguration ="DefaultHttp" contract ="SE.DSP.Foundation.API.IIndustryService"/>
  <endpoint name="IServiceProviderService.EndPoint" address="http://localhost/foundation/API/ServiceProvider.svc" binding ="basicHttpBinding" bindingConfiguration ="DefaultHttp"  contract ="SE.DSP.Foundation.API.IServiceProviderService"/>
  <endpoint name="IUomService.EndPoint" address="http://localhost/foundation/API/Uom.svc" binding ="basicHttpBinding" bindingConfiguration ="DefaultHttp"  contract ="SE.DSP.Foundation.API.IUomService"/>
  <endpoint name="IUserService.EndPoint" address="http://localhost/foundation/API/User.svc" binding ="basicHttpBinding" bindingConfiguration ="DefaultHttp" contract ="SE.DSP.Foundation.API.IUserService"/>
  <endpoint name="IZoneService.EndPoint" address="http://localhost/foundation/API/Zone.svc" binding ="basicHttpBinding" bindingConfiguration ="DefaultHttp"  contract ="SE.DSP.Foundation.API.IZoneService"/>

  <endpoint name="ICommunicationService.EndPoint" address="http://localhost:9999/communication/api/communicationservice" binding ="basicHttpBinding" bindingConfiguration ="DefaultHttp"  contract ="SE.DSP.Pop.Communication.ServiceHost.API.ICommunicationService"/>
</client>