<behaviors>
  <serviceBehaviors>
    <behavior>
      <serviceDebug includeExceptionDetailInFaults="true" />
      <serviceMetadata httpGetEnabled="true" />
      <dataContractSerializer maxItemsInObjectGraph="2147483647" />
      <serviceThrottling maxConcurrentCalls="256" maxConcurrentSessions="256" maxConcurrentInstances="2147483647" />
    </behavior>
  </serviceBehaviors>
  <endpointBehaviors>
    <behavior>
      <customHeaderBehaviorExtension />
    </behavior>
    <behavior name ="webEndpointBehavior">
      <webHttp defaultBodyStyle="Wrapped" defaultOutgoingResponseFormat="Xml" helpEnabled="true"/>
      <customHeaderBehaviorExtension />
    </behavior>
  </endpointBehaviors>
</behaviors>