<client>
  <endpoint name="IAccessControlService.EndPoint" address="http://localhost/DSP.Foundation.AppHost/API/AccessControl.svc" binding ="basicHttpBinding" bindingConfiguration ="DefaultHttp"  contract ="SE.DSP.Foundation.API.IAccessControlService"/>
  <endpoint name="ICommodityService.EndPoint" address="http://localhost/DSP.Foundation.AppHost/API/Commodity.svc" binding ="basicHttpBinding" bindingConfiguration ="DefaultHttp"  contract ="SE.DSP.Foundation.API.ICommodityService"/>
  <endpoint name="IIndustryService.EndPoint" address="http://localhost/DSP.Foundation.AppHost/API/Industry.svc" binding ="basicHttpBinding" bindingConfiguration ="DefaultHttp" contract ="SE.DSP.Foundation.API.IIndustryService"/>
  <endpoint name="IServiceProviderService.EndPoint" address="http://localhost/DSP.Foundation.AppHost/API/ServiceProvider.svc" binding ="basicHttpBinding" bindingConfiguration ="DefaultHttp"  contract ="SE.DSP.Foundation.API.IServiceProviderService"/>
  <endpoint name="IUomService.EndPoint" address="http://localhost/DSP.Foundation.AppHost/API/Uom.svc" binding ="basicHttpBinding" bindingConfiguration ="DefaultHttp"  contract ="SE.DSP.Foundation.API.IUomService"/>
  <endpoint name="IUserService.EndPoint" address="http://localhost/DSP.Foundation.AppHost/API/User.svc" binding ="basicHttpBinding" bindingConfiguration ="DefaultHttp" contract ="SE.DSP.Foundation.API.IUserService"/>
  <endpoint name="IZoneService.EndPoint" address="http://localhost/DSP.Foundation.AppHost/API/Zone.svc" binding ="basicHttpBinding" bindingConfiguration ="DefaultHttp"  contract ="SE.DSP.Foundation.API.IZoneService"/>
</client>