<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
 
  <!--Foundation Service-->
  <alias alias="IAccessControlService" type="SE.DSP.Foundation.API.IAccessControlService,SE.DSP.Foundation.API"/>
  <alias alias="AccessControlService" type="SE.DSP.Foundation.Service.AccessControlService,SE.DSP.Foundation.Service"/>

  <alias alias="ICommodityService" type="SE.DSP.Foundation.API.ICommodityService,SE.DSP.Foundation.API"/>
  <alias alias="CommodityService" type="SE.DSP.Foundation.Service.CommodityService,SE.DSP.Foundation.Service"/>

  <alias alias="IIndustryService" type="SE.DSP.Foundation.API.IIndustryService,SE.DSP.Foundation.API"/>
  <alias alias="IndustryService" type="SE.DSP.Foundation.Service.IndustryService,SE.DSP.Foundation.Service"/>

  <alias alias="IServiceProviderService" type="SE.DSP.Foundation.API.IServiceProviderService,SE.DSP.Foundation.API"/>
  <alias alias="ServiceProviderService" type="SE.DSP.Foundation.Service.ServiceProviderService,SE.DSP.Foundation.Service"/>

  <alias alias="IUomService" type="SE.DSP.Foundation.API.IUomService,SE.DSP.Foundation.API"/>
  <alias alias="UomService" type="SE.DSP.Foundation.Service.UomService,SE.DSP.Foundation.Service"/>

  <alias alias="IZoneService" type="SE.DSP.Foundation.API.IZoneService,SE.DSP.Foundation.API"/>
  <alias alias="ZoneService" type="SE.DSP.Foundation.Service.ZoneService,SE.DSP.Foundation.Service"/>

  <alias alias="IUserService" type="SE.DSP.Foundation.API.IUserService,SE.DSP.Foundation.API"/>
  <alias alias="UserService" type="SE.DSP.Foundation.Service.UserService,SE.DSP.Foundation.Service"/>

  <alias alias ="ICommodityDA" type="SE.DSP.Foundation.DA.Interface.ICommodityDA, SE.DSP.Foundation.DA.Interface"/>
  <alias alias ="CommodityDA" type="SE.DSP.Foundation.DA.Service.CommodityDA, SE.DSP.Foundation.DA.Service"/>


  <alias alias ="IDataPrivilegeDA" type="SE.DSP.Foundation.DA.Interface.IDataPrivilegeDA, SE.DSP.Foundation.DA.Interface"/>
  <alias alias ="DataPrivilegeDA" type="SE.DSP.Foundation.DA.Service.DataPrivilegeDA, SE.DSP.Foundation.DA.Service"/>


  <alias alias ="IIndustryDA" type="SE.DSP.Foundation.DA.Interface.IIndustryDA, SE.DSP.Foundation.DA.Interface"/>
  <alias alias ="IndustryDA" type="SE.DSP.Foundation.DA.Service.IndustryDA, SE.DSP.Foundation.DA.Service"/>


  <alias alias ="IRoleDA" type="SE.DSP.Foundation.DA.Interface.IRoleDA, SE.DSP.Foundation.DA.Interface"/>
  <alias alias ="RoleDA" type="SE.DSP.Foundation.DA.Service.RoleDA, SE.DSP.Foundation.DA.Service"/>


  <alias alias ="IRolePrivilegeDA" type="SE.DSP.Foundation.DA.Interface.IRolePrivilegeDA, SE.DSP.Foundation.DA.Interface"/>
  <alias alias ="RolePrivilegeDA" type="SE.DSP.Foundation.DA.Service.RolePrivilegeDA, SE.DSP.Foundation.DA.Service"/>


  <alias alias ="IServiceProviderDA" type="SE.DSP.Foundation.DA.Interface.IServiceProviderDA, SE.DSP.Foundation.DA.Interface"/>
  <alias alias ="ServiceProviderDA" type="SE.DSP.Foundation.DA.Service.ServiceProviderDA, SE.DSP.Foundation.DA.Service"/>


  <alias alias ="IUomDA" type="SE.DSP.Foundation.DA.Interface.IUomDA, SE.DSP.Foundation.DA.Interface"/>
  <alias alias ="UomDA" type="SE.DSP.Foundation.DA.Service.UomDA, SE.DSP.Foundation.DA.Service"/>


  <alias alias ="IUomGroupDA" type="SE.DSP.Foundation.DA.Interface.IUomGroupDA, SE.DSP.Foundation.DA.Interface"/>
  <alias alias ="UomGroupDA" type="SE.DSP.Foundation.DA.Service.UomGroupDA, SE.DSP.Foundation.DA.Service"/>


  <alias alias ="IUomGroupRelationDA" type="SE.DSP.Foundation.DA.Interface.IUomGroupRelationDA, SE.DSP.Foundation.DA.Interface"/>
  <alias alias ="UomGroupRelationDA" type="SE.DSP.Foundation.DA.Service.UomGroupRelationDA, SE.DSP.Foundation.DA.Service"/>

  <alias alias ="IUserDA" type="SE.DSP.Foundation.DA.Interface.IUserDA, SE.DSP.Foundation.DA.Interface"/>
  <alias alias ="UserDA" type="SE.DSP.Foundation.DA.Service.UserDA, SE.DSP.Foundation.DA.Service"/>

  <alias alias ="IZoneDA" type="SE.DSP.Foundation.DA.Interface.IZoneDA, SE.DSP.Foundation.DA.Interface"/>
  <alias alias ="ZoneDA" type="SE.DSP.Foundation.DA.Service.ZoneDA, SE.DSP.Foundation.DA.Service"/>

  <!--Foundation Service-->
 
  <container>
 
    <!--Foundation Service-->
    <register type="IIndustryService" mapTo="IndustryService" >
      <lifetime type="singleton"/>
    </register>

    <register type="IAccessControlService" mapTo="AccessControlService" >
      <lifetime type="singleton"/>
    </register>

    <register type="ICommodityService" mapTo="CommodityService" >
      <lifetime type="singleton"/>
    </register>

    <register type="IServiceProviderService" mapTo="ServiceProviderService" >
      <lifetime type="singleton"/>
    </register>

    <register type="IUomService" mapTo="UomService" >
      <lifetime type="singleton"/>
    </register>

    <register type="IZoneService" mapTo="ZoneService" >
      <lifetime type="singleton"/>
    </register>

    <register type="IUserService" mapTo="UserService" >
      <lifetime type="singleton"/>
    </register>

    <register type="ICommodityDA" mapTo="CommodityDA" >
      <lifetime type="singleton"/>
    </register>

    <register type="IDataPrivilegeDA" mapTo="DataPrivilegeDA" >
      <lifetime type="singleton"/>
    </register>

    <register type="IIndustryDA" mapTo="IndustryDA" >
      <lifetime type="singleton"/>
    </register>

    <register type="IRoleDA" mapTo="RoleDA" >
      <lifetime type="singleton"/>
    </register>

    <register type="IRolePrivilegeDA" mapTo="RolePrivilegeDA" >
      <lifetime type="singleton"/>
    </register>

    <register type="IServiceProviderDA" mapTo="ServiceProviderDA" >
      <lifetime type="singleton"/>
    </register>

    <register type="IUomDA" mapTo="UomDA" >
      <lifetime type="singleton"/>
    </register>

    <register type="IUomGroupDA" mapTo="UomGroupDA" >
      <lifetime type="singleton"/>
    </register>

    <register type="IUomGroupRelationDA" mapTo="UomGroupRelationDA" >
      <lifetime type="singleton"/>
    </register>

    <register type="IUserDA" mapTo="UserDA" >
      <lifetime type="singleton"/>
    </register>


    <register type="IZoneDA" mapTo="ZoneDA" >
      <lifetime type="singleton"/>
    </register>


    <!--Foundation Service-->
  </container>

</unity>
