<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <alias alias ="IHierarchyRepository" type="SE.DSP.Pop.Contract.IHierarchyRepository, SE.DSP.Pop.Contract"/>
  <alias alias ="HierarchyRepository" type="SE.DSP.Pop.MSSQL.HierarchyRepository, SE.DSP.Pop.MSSQL"/>

  <alias alias ="ILogoRepository" type="SE.DSP.Pop.Contract.ILogoRepository, SE.DSP.Pop.Contract"/>
  <alias alias ="LogoRepository" type="SE.DSP.Pop.MSSQL.LogoRepository, SE.DSP.Pop.MSSQL"/>

  <alias alias ="IUnitOfWorkProvider" type="SE.DSP.Foundation.DataAccess.IUnitOfWorkProvider, SE.DSP.Foundation.DataAccess"/>
  <alias alias ="UnitOfWorkProvider" type="SE.DSP.Foundation.DataAccess.PetaPocoUnitOfWorkProvider, SE.DSP.Foundation.DataAccess"/>

  <alias alias ="IOssRepository" type="SE.DSP.Foundation.DataAccess.IOssRepository, SE.DSP.Foundation.DataAccess"/>
  <alias alias ="OssRepository" type="SE.DSP.Foundation.DataAccess.OssRepository, SE.DSP.Foundation.DataAccess"/>
  
  <container>
 

    <register type="IUnitOfWorkProvider" mapTo="UnitOfWorkProvider" >
      <lifetime type="singleton"/>
    </register>

    <register type="ILogoRepository" mapTo="LogoRepository" >
      <lifetime type="singleton"/>
    </register>

    <register type="IOssRepository" mapTo="OssRepository" >
      <lifetime type="singleton"/>
    </register>

    <register type="IHierarchyRepository" mapTo="HierarchyRepository" >
      <lifetime type="singleton"/>
    </register>
    
  </container>

</unity>
