<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <alias alias ="IHierarchyRepository" type="SE.DSP.Pop.Contract.IHierarchyRepository, SE.DSP.Pop.Contract"/>
  <alias alias ="HierarchyRepository" type="SE.DSP.Pop.MSSQL.HierarchyRepository, SE.DSP.Pop.MSSQL"/>

  <alias alias ="ILogoRepository" type="SE.DSP.Pop.Contract.ILogoRepository, SE.DSP.Pop.Contract"/>
  <alias alias ="LogoRepository" type="SE.DSP.Pop.MSSQL.LogoRepository, SE.DSP.Pop.MSSQL"/>

  <alias alias ="ICustomerRepository" type="SE.DSP.Pop.Contract.ICustomerRepository, SE.DSP.Pop.Contract"/>
  <alias alias ="CustomerRepository" type="SE.DSP.Pop.MSSQL.CustomerRepository, SE.DSP.Pop.MSSQL"/>

  <alias alias ="IUserCustomerRepository" type="SE.DSP.Pop.Contract.IUserCustomerRepository, SE.DSP.Pop.Contract"/>
  <alias alias ="UserCustomerRepository" type="SE.DSP.Pop.MSSQL.UserCustomerRepository, SE.DSP.Pop.MSSQL"/>

  <alias alias ="IGatewayRepository" type="SE.DSP.Pop.Contract.IGatewayRepository, SE.DSP.Pop.Contract"/>
  <alias alias ="GatewayRepository" type="SE.DSP.Pop.MSSQL.GatewayRepository, SE.DSP.Pop.MSSQL"/>

  <alias alias ="IParkRepository" type="SE.DSP.Pop.Contract.IParkRepository, SE.DSP.Pop.Contract"/>
  <alias alias ="ParkRepository" type="SE.DSP.Pop.MSSQL.ParkRepository, SE.DSP.Pop.MSSQL"/>

  <alias alias ="IDeviceRepository" type="SE.DSP.Pop.Contract.IDeviceRepository, SE.DSP.Pop.Contract"/>
  <alias alias ="DeviceRepository" type="SE.DSP.Pop.MSSQL.DeviceRepository, SE.DSP.Pop.MSSQL"/>

  <alias alias ="IDistributionRoomRepository" type="SE.DSP.Pop.Contract.IDistributionRoomRepository, SE.DSP.Pop.Contract"/>
  <alias alias ="DistributionRoomRepository" type="SE.DSP.Pop.MSSQL.DistributionRoomRepository, SE.DSP.Pop.MSSQL"/>

  <alias alias ="IDistributionCabinetRepository" type="SE.DSP.Pop.Contract.IDistributionCabinetRepository, SE.DSP.Pop.Contract"/>
  <alias alias ="DistributionCabinetRepository" type="SE.DSP.Pop.MSSQL.DistributionCabinetRepository, SE.DSP.Pop.MSSQL"/>

  <alias alias ="IBuildingRepository" type="SE.DSP.Pop.Contract.IBuildingRepository, SE.DSP.Pop.Contract"/>
  <alias alias ="BuildingRepository" type="SE.DSP.Pop.MSSQL.BuildingRepository, SE.DSP.Pop.MSSQL"/>

  <alias alias ="IBuildingLocationRepository" type="SE.DSP.Pop.Contract.IBuildingLocationRepository, SE.DSP.Pop.Contract"/>
  <alias alias ="BuildingLocationRepository" type="SE.DSP.Pop.MSSQL.BuildingLocationRepository, SE.DSP.Pop.MSSQL"/>
  
  <alias alias ="IHierarchyAdministratorRepository" type="SE.DSP.Pop.Contract.IHierarchyAdministratorRepository, SE.DSP.Pop.Contract"/>
  <alias alias ="HierarchyAdministratorRepository" type="SE.DSP.Pop.MSSQL.HierarchyAdministratorRepository, SE.DSP.Pop.MSSQL"/>

  <alias alias ="ISingleLineDiagramRepository" type="SE.DSP.Pop.Contract.ISingleLineDiagramRepository, SE.DSP.Pop.Contract"/>
  <alias alias ="SingleLineDiagramRepository" type="SE.DSP.Pop.MSSQL.SingleLineDiagramRepository, SE.DSP.Pop.MSSQL"/>

  <alias alias ="IUnitOfWorkProvider" type="SE.DSP.Foundation.DataAccess.IUnitOfWorkProvider, SE.DSP.Foundation.DataAccess"/>
  <alias alias ="UnitOfWorkProvider" type="SE.DSP.Foundation.DataAccess.PetaPocoUnitOfWorkProvider, SE.DSP.Foundation.DataAccess"/>

  <alias alias ="IOssRepository" type="SE.DSP.Foundation.DataAccess.IOssRepository, SE.DSP.Foundation.DataAccess"/>
  <alias alias ="OssRepository" type="SE.DSP.Foundation.DataAccess.OssRepository, SE.DSP.Foundation.DataAccess"/>

  <alias alias ="IUserService" type="SE.DSP.Pop.BL.API.IUserService, SE.DSP.Pop.BL.API"/>
  <alias alias ="UserService" type="SE.DSP.Pop.BL.AppHost.API.UserService, SE.DSP.Pop.BL.AppHost"/>
  
  <container>

    <register type="IUserService" mapTo="UserService" >
      <lifetime type="singleton"/>
    </register>
    
    <register type="IUnitOfWorkProvider" mapTo="UnitOfWorkProvider" >
      <lifetime type="singleton"/>
    </register>

    <register type="ILogoRepository" mapTo="LogoRepository" >
      <lifetime type="singleton"/>
    </register>

    <register type="IGatewayRepository" mapTo="GatewayRepository" >
      <lifetime type="singleton"/>
    </register>

    <register type="IDeviceRepository" mapTo="DeviceRepository" >
      <lifetime type="singleton"/>
    </register>

    <register type="IBuildingLocationRepository" mapTo="BuildingLocationRepository" >
      <lifetime type="singleton"/>
    </register>

    <register type="IParkRepository" mapTo="ParkRepository" >
      <lifetime type="singleton"/>
    </register>

    <register type="IDistributionRoomRepository" mapTo="DistributionRoomRepository" >
      <lifetime type="singleton"/>
    </register>

    <register type="IDistributionCabinetRepository" mapTo="DistributionCabinetRepository" >
      <lifetime type="singleton"/>
    </register>

    <register type="IBuildingRepository" mapTo="BuildingRepository" >
      <lifetime type="singleton"/>
    </register>

    <register type="ICustomerRepository" mapTo="CustomerRepository" >
      <lifetime type="singleton"/>
    </register>

    <register type="IUserCustomerRepository" mapTo="UserCustomerRepository" >
      <lifetime type="singleton"/>
    </register>

    <register type="IHierarchyAdministratorRepository" mapTo="HierarchyAdministratorRepository" >
      <lifetime type="singleton"/>
    </register>

    <register type="ISingleLineDiagramRepository" mapTo="SingleLineDiagramRepository" >
      <lifetime type="singleton"/>
    </register>

    <register type="IOssRepository" mapTo="OssRepository" >
      <lifetime type="singleton"/>
    </register>

    <register type="IHierarchyRepository" mapTo="HierarchyRepository" >
      <lifetime type="singleton"/>
    </register>
    
  </container>

</unity>
