<client>
  <endpoint name="IUserService.EndPoint" address="http://localhost:55806/Pop/App/API/UserService.svc" binding ="basicHttpBinding" bindingConfiguration ="DefaultHttp" contract ="SE.DSP.Pop.BL.API.IUserService"/>
  <endpoint name="IHierarchyService.EndPoint" address="http://localhost:55806/Pop/App/API/Hierarchy.svc" binding ="basicHttpBinding" bindingConfiguration ="DefaultHttp" contract ="SE.DSP.Pop.BL.API.IHierarchyService"/>
</client>