<client>
  <endpoint name="IUserService.EndPoint" address="http://localhost/Pop/App/API/UserService.svc" binding="basicHttpBinding" bindingConfiguration="DefaultHttp" contract="SE.DSP.Pop.BL.API.IUserService"/>
  <endpoint name="ICustomerService.EndPoint" address="http://localhost/Pop/App/API/CustomerService.svc" binding="basicHttpBinding" bindingConfiguration="DefaultHttp" contract="SE.DSP.Pop.BL.API.ICustomerService"/>
  <endpoint name="IHierarchyService.EndPoint" address="http://localhost/Pop/App/API/HierarchyService.svc" binding="basicHttpBinding" bindingConfiguration="DefaultHttp" contract="SE.DSP.Pop.BL.API.IHierarchyService"/>
  <endpoint name="IPopClientService.EndPoint" address="http://localhost/Pop/app/api/PopClientService.svc" binding="basicHttpBinding" bindingConfiguration="DefaultHttp" contract="SE.DSP.Pop.BL.API.IPopClientService"/>
</client>