<extensions>
  <behaviorExtensions>
    <!--Logging App/Web Service API input/ouput-->
    <add name="logBehaviorExtension" type="SE.DSP.Foundation.Infrastructure.Interception.LogBehaviorExtensionElement, SE.DSP.Foundation.Infrastructure" />
    <add name="customHeaderBehaviorExtension" type="SE.DSP.Pop.Web.WebHost.Common.ClientBehaviors.CustomHeaderBehaviorElement, SE.DSP.Pop.Web.WebHost"/>
  </behaviorExtensions>
</extensions>