<client>
  <endpoint name="IUserService.EndPoint" address="http://localhost/Pop/App/API/UserService.svc" binding ="basicHttpBinding" bindingConfiguration ="DefaultHttp" contract ="SE.DSP.Pop.BL.API.IUserService"/>
  <endpoint name="IHierarchyService.EndPoint" address="http://localhost/Pop/App/API/HierarchyService.svc" binding ="basicHttpBinding" bindingConfiguration ="DefaultHttp" contract ="SE.DSP.Pop.BL.API.IHierarchyService"/>
</client>