<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />  
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="deployConfiguration" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  
  <deployConfiguration configSource="config\deploy.config"  />
  <loggingConfiguration configSource="config\logging.config"  />

  <unity configSource="config\unity.config" />
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="LoggingSeverity" value="Debug" />
  </appSettings>
  
  <connectionStrings>
    <add name="REMInformation" connectionString="Database={SpDbDatabase};Server={SpDbServerIP};User={SpDbUser};Password={SpDbPassword};Pooling=true;Max Pool Size={SpDbMaxPoolSize};Enlist=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

  <system.serviceModel>
    <services>
      <service name="SE.DSP.Pop.BL.AppHost.API.UserService">
        <endpoint binding="basicHttpBinding" contract="SE.DSP.Pop.BL.API.IUserService" />
      </service>
      <service name="SE.DSP.Pop.BL.AppHost.API.HierarchyService">
        <endpoint binding="basicHttpBinding" contract="SE.DSP.Pop.BL.API.IHierarchyService" /> 
      </service>
    </services>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <behaviors configSource="config\system.servicemodel.behaviors.config" />
    <bindings configSource="config\system.servicemodel.bindings.config" />
    <extensions configSource="config\system.servicemodel.extensions.config" />
    <client configSource="config\system.servicemodel.clients.config" />
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

</configuration>
