<loggingConfiguration tracingEnabled="false" defaultCategory="Log" logWarningsWhenNoCategoriesMatch="false">
  <listeners>
    <add name="LogListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
      fileName="Log\REM.log" formatter="LogFormatter"  footer="" header="" rollFileExistsBehavior="Increment" rollSizeKB="1024" />
  </listeners>

  <formatters>
    <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
      template="{timestamp(local:yyyy-MM-dd HH:mm:ss.fff)}{tab}{title}{tab}{localMachine}{tab}{processId}{tab}{win32ThreadId}{tab}{message}" name="LogFormatter" />
  </formatters>

  <categorySources>
    <add switchValue="All" name="Log">
      <listeners>
        <add name="LogListener" />
      </listeners>
    </add>
  </categorySources>

  <specialSources>
    <allEvents switchValue="All" name="All Events" />
    <notProcessed switchValue="All" name="Unprocessed Category" />
    <errors switchValue="All" name="Logging Errors &amp; Warnings" />
  </specialSources>
</loggingConfiguration>
