<behaviors>
  <endpointBehaviors>
    <behavior name="SE.DSP.Foundation.AppHost.API.AccessControlAspNetAjaxBehavior">
      <enableWebScript />
    </behavior>
    <behavior name="SE.DSP.Foundation.AppHost.API.CommodityAspNetAjaxBehavior">
      <enableWebScript />
    </behavior>
    <behavior name="SE.DSP.Foundation.AppHost.API.IndustryAspNetAjaxBehavior">
      <enableWebScript />
    </behavior>
    <behavior name="SE.DSP.Foundation.AppHost.API.ServiceProviderAspNetAjaxBehavior">
      <enableWebScript />
    </behavior>
    <behavior name="SE.DSP.Foundation.AppHost.API.UomAspNetAjaxBehavior">
      <enableWebScript />
    </behavior>
    <behavior name="SE.DSP.Foundation.AppHost.API.UserAspNetAjaxBehavior">
      <enableWebScript />
    </behavior>
    <behavior name="SE.DSP.Foundation.AppHost.API.ZoneAspNetAjaxBehavior">
      <enableWebScript />
    </behavior>
  </endpointBehaviors>
  <serviceBehaviors>
    <behavior name="">
      <serviceDebug includeExceptionDetailInFaults="true" />
      <serviceMetadata httpGetEnabled="true" />
      <dataContractSerializer maxItemsInObjectGraph="2147483647" />
      <serviceThrottling maxConcurrentCalls="256" maxConcurrentSessions="256" maxConcurrentInstances="2147483647" />
      <logBehaviorExtension />
    </behavior>
  </serviceBehaviors>
</behaviors>