<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
    <section name="dataCacheClient" type="Microsoft.ApplicationServer.Caching.DataCacheClientSection, Microsoft.ApplicationServer.Caching.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="deployConfiguration" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <deployConfiguration configSource="config\deploy.config" />
  <loggingConfiguration configSource="config\logging.config" />
  <unity configSource="config\unity.config" />
  <!--Begin of Database section-->
  <dataConfiguration defaultDatabase="REMInformation" />
  <connectionStrings>
    <add name="REMInformation" connectionString="Database={SpDbDatabase};Server={SpDbServerIP};User={SpDbUser};Password={SpDbPassword};Pooling=true;Max Pool Size={SpDbMaxPoolSize};Enlist=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--End of Database section-->
  <appSettings> 
    <!--Begin of row count for OTS batch processing-->
    <add key="MaxRetrieveRowCount" value="500" />
    <add key="MaxModifyRowCount" value="500" />
    <!--default 300-->
    <add key="AggregateGroupCount" value="300" />
    <!--End of row count for OTS batch processing-->
    <!--Jacob add for CMep-->
    <add key="RetryCount" value="10" />
    <add key="RetryWaitTime" value="1000" />
    <!--milli second-->
    <!--The values can be Off/Fatal/Error/Warning/Information/Debug-->
    <add key="LoggingSeverity" value="Debug" />

    <add key="PasswordMailFrom" value="SE_admin.energymost@energymost.com" />
    <add key="PasswordMailUserName" value="" />
    <add key="PasswordMailPassword" value="" />
     
    <add key="ContactUsMailTo" value="service.energymost@schneider-electric.com" />
    <add key="ContactUsMailFrom" value="emop@energymost.com" />
    <add key="ContactUsMailUserName" value="" />
    <add key="ContactUsMailPassword" value="" />
 
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" debug="true" />
  </system.web>
  <system.serviceModel>
    <behaviors configSource="config\system.servicemodel.behaviors.config" />
    <bindings configSource="config\system.servicemodel.bindings.config" />
    <extensions configSource="config\system.servicemodel.extensions.config" />
    <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true" />-->
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>

  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="1024" />
    </connectionManagement>
  </system.net>
  <system.webServer>
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>