<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
    <section name="deployConfiguration" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  
  <deployConfiguration>
    <add key="MqttServer" value="112.124.53.168" />
    <add key="MqttPort" value="22"/>
    <add key="MqttClientId" value="POPCOMMSVC_DEV"/>
    <add key="MqttUserName" value="rem"/>
    <add key="MqttPassword" value="P@ssw0rd"/>
  </deployConfiguration>
  
  <loggingConfiguration tracingEnabled="false" defaultCategory="Log" logWarningsWhenNoCategoriesMatch="false">
    <listeners>
      <add name="LogListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
        fileName="Log\REM.log" formatter="LogFormatter"  footer="" header="" rollFileExistsBehavior="Increment" rollSizeKB="1024" />
    </listeners>

    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
        template="{timestamp(local:yyyy-MM-dd HH:mm:ss.fff)}{tab}{title}{tab}{localMachine}{tab}{processId}{tab}{win32ThreadId}{tab}{message}" name="LogFormatter" />
    </formatters>

    <categorySources>
      <add switchValue="All" name="Log">
        <listeners>
          <add name="LogListener" />
        </listeners>
      </add>
    </categorySources>

    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings" />
    </specialSources>
  </loggingConfiguration>

  <appSettings>
    <add key="LoggingSeverity" value="Debug" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="basicBehavior" name="SE.DSP.Pop.Communication.ServiceHost.Services.CommunicationService">
        <endpoint address="http://localhost:9999/communication/api/communicationservice" binding="basicHttpBinding" contract="SE.DSP.Pop.Communication.ServiceHost.API.ICommunicationService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="basicBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:9999/communication/api/communicationservice"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  
</configuration>